@charset "UTF-8";

@import "../core/index-noreset.scss";
@import "scss/mixin";
@import "scss/variable";

//$form-prefix 为next-form
#{$form-prefix} {
    // 设置box-sizing为border-box
    @include box-sizing;
    //  [`${prefix}form-item`] 对所以的Item进行包裹
    &-item {
        margin-bottom: $form-item-m-margin-b; // 16px;

        // 这是是设置labelAlign为top的css样式
        // &.#{$css-prefix}top > #{$form-prefix}-item-label {
        //     margin-bottom: $form-top-label-margin-b; // 2px
        // }


        // 对于size="large"的字体的设置
        &.#{$css-prefix}large {
            margin-bottom: $form-item-l-margin-b; //20px; 
            #{$form-prefix}-item-label { //设置行高
                line-height:$form-element-large-height; //$s-10
            }

            #{$form-prefix}-item-label { // 设置字体的大小
                font-size: $form-element-large-font-size;
            }
        }

        // 对于size="small"的字体的设置
        &.#{$css-prefix}small {
            margin-bottom: $form-item-s-margin-b; // 
            #{$form-prefix}-item-label { //设置行高
                line-height:$form-element-small-height; // 
            }

            #{$form-prefix}-item-label { // 设置字体的大小
                font-size: $form-element-small-font-size;
            }
        }

        //labelAlign为top时 设置label margin-botto为2px
        &.#{$css-prefix}top > #{$form-prefix}-item-label {
            margin-bottom: $form-top-label-margin-b; // 2px
        }
        //labelAlign为inset时 需要把padding的左右设置为0px;并继承父元素的行高
        &.#{$css-prefix}inset #{$form-prefix}-item-label {
            padding-right: 0;
            padding-left: 0;
            line-height: inherit;
        }
    }
    
    
    // 包裹label的css样式的设置
    &-item-label {
        display: inline-block; // 可设宽高，不自动换行
        vertical-align: top;
        color: $form-label-color; // #666666
        text-align: right;
        padding-right: $form-label-padding-r; // 12px;
        
        // 设置属性 labelTextAlign =="left"的样式
        &.#{$css-prefix}left { 
            text-align: left;
        }
    
    }

    // input包裹的css的样式设置
    &-item-control {
        
    }
  
}

 